body {
    font-family: Arial;
    background-image: url("stock2.jpg");
    opacity: 0.5;
    background-size: cover;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

table {
    border-spacing: 0;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    text-align: left;
}

.warehouse {
    /* position: absolute;
    opacity: 0.2; 
    filter: alpha(opacity=20); */
}